*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;


}
ul{
    float: right;
    list-style-type: none;
    margin-top: 50px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:black;
    padding: 5px 20px;
    border: 1px solid #fff;
}
ul li a:hover{
    background-color: rgb(58, 56, 61);
    color:rgb(255, 255, 255);
    margin:auto;
    
        
        transition: background-color .5s;
}
.main{
    max-width: 500px;
    margin:auto;
}
img {
    display:inline;
    margin: 25px 170px;
  }
h3{
    margin:10px 20px ;
}

h6{
    margin:5px 20px ;
    padding: .35em;
}



