*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;


}

h6{
    margin:50px 20px ;
    padding: .35em;
}
img {
    display:inline;
    margin: 25px 170px;
  }
  h1{
    margin:50px 20px ;
    padding: .35em;
  }